@import '../../../../../styles.scss';

.container {
  background-color: $papaya;

  .row {
    display: block;

    .card {
      max-width: 100%;
      height: auto;
      display: flex;
      justify-content: center;

      img {
        width: 50%;
        height: auto;
      }
    }

    .statistics-grid {
      margin: 4rem;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 2rem;

      .arc-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .arc {
          position: relative;
          width: 90px;
          height: 50px;
          border-top-left-radius: 80px;
          border-top-right-radius: 80px;
          background: linear-gradient(to bottom, $old_gold, $olive);
          display: flex;
          justify-content: center;
          align-items: center;

          .number {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 18px;
            color: black;
            font-weight: bold;
            text-shadow: 1px 1px 3px white;
          }
        }

        .label {
          margin-top: 5px;
          font-size: 1.1rem;
          text-align: center;

          color: $olive;
          font-weight: bold;
          text-shadow: 1px 1px 2px $old_gold;
        }
      }

      .statistic {
        padding: 10px;
        border: 1px solid #ccc;
        text-align: center;
      }
    }
  }

  .container_btn {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 10vh;

    .btn {
      background-color: $old_gold;
      padding: 5px 10px;
      border-radius: 5px;
      border: none;
      text-align: center;

      &:hover {
        background-color: $olive;
        cursor: pointer;
      }
    }
  }

  @media (min-width: 768px) {
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .dataCol {
        width: 48%;
      }

      .statistics-grid {
        grid-template-columns: repeat(2, 1fr); // Cambia a 2 columnas en pantallas medianas y grandes
      }
    }
  }
}
