
<div class="container" *ngIf="player; else errorTemplate">
  <div class="row">
    <div class="dataCol">
      <div class="card">
        <img src="{{player.cardImage}}" alt="{{player.name}} {{player.lastName}} Image" class="card-img">
      </div>
    </div>
    <div class="dataCol">
      <div class="statistics-grid">
        <div class="statistic">Pace: {{player.pace}}</div>
        <div class="statistic">Shooting: {{player.shooting}}</div>
        <div class="statistic">Passing: {{player.passing}}</div>
        <div class="statistic">Dribbling: {{player.dribbling}}</div>
        <div class="statistic">Defending: {{player.defending}}</div>
        <div class="statistic">Physical: {{player.physical}}</div>
      </div>
    </div>
  </div>

  <div class="container_btn">
    <div class="btn_gold" (click)="goToVideos(player!.pId)">Videos</div>
  </div>
</div>

<!-- Template alternativo para mostrar el error -->
<ng-template #errorTemplate>
  <div *ngIf="errorMessage" class="error">
    <p>{{ errorMessage }}</p>
    <div class="container_btn">
      <button class="btn_gold">
        <a routerLink="/home">{{'back'| translate}}</a>
        </button>
    </div>
  </div>
</ng-template>
