@import '../../../../styles.scss';

.container {
  background-color: $papaya;
  padding: 1rem 4rem;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .imageCol {
      width: 40%;
      max-width: 40%;
      height: auto;


    }

    .videosCol {
      width: 55%; // Columna para los videos en desktop
      max-width: 55%;

      .video-card {
        border-radius: 15px;
        padding: 16px;
        margin-bottom: 16px;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        iframe {
          width: 100%;
          height: 290px;
          border-radius: 4px;
        }
      }
    }
  }


  @media (max-width: 768px) {
    .row {
      flex-direction: column;

      .imageCol,
      .videosCol {
        width: 100%;
        max-width: 100%;
      }

      .video-card {
        height: auto;
      }
    }
  }
}
