@import '../../../../styles.scss';

main {
  background-color: $papaya;
  min-height: 78.2vh;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  @media (min-width: 650px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1080px) {
    grid-template-columns: repeat(4, 1fr);
  }

  gap: 20px;
}
