@import '../../../../styles.scss';

main {
  min-height: 78.2vh;
  padding: 20px;
  background-color: $papaya;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 1rem;
  height: 100%;

  .titleName {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-size: 2rem;
    color: $old_gold;
    text-shadow: 1px 1px 3px $olive;
  }
  .dataCol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;

    .team-card {
      display: flex;
      align-items: flex-start;
    }
  }


  @media (max-width: 1024px) {
    .dataCol {
      flex-wrap: wrap;
    }
  }

  @media (max-width: 768px) {
    .dataCol {
      flex-direction: column;

    }
  }
}