<div class="container">
  <h3 class="titleName">{{player.name}} {{player.lastName}}</h3>
  <div class="row">

      <div *ngIf="player.teams" class="dataCol">
        <div *ngFor="let team of player.teams | slice:0:4" class="dataCol team-card">
          <app-card-team [team]="team"></app-card-team>
        </div>
      </div>


  </div>
  <div class="container_btn">
    <button class="btn_gold" >
      <a routerLink="/" class="">
        {{'back' | translate }}
      </a>
    </button>
  </div>
</div>
