<div class="container">
  <h1 class="">Oops!</h1>
  <h2 class="">Looks like you're lost!</h2>
  <p class="">
    We couldn't find the page you're looking for.
  </p>
  <div>
    <!-- <iframe src="https://giphy.com/embed/C21GGDOpKT6Z4VuXyn" width="480" height="480" style="" frameBorder="0"
      class="giphy-embed" allowFullScreen></iframe> -->
      <img src="../../../assets/images/error-404-.jpg" alt="error 404" class="img_404">

  </div>
  <div class="container_btn">
    <button class="btn_gold" >

      <a routerLink="/home" class="">
        {{'back' | translate }}
      </a>
    </button>
  </div>
</div>
